<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Marketplaats.Winforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Marketplaats.Winforms.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>snvz4rnw0p3sic1b9b19jujs45r1d750</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>tp9YYDNPlFyTLRTE6FDuG97tYIATrVhJ</value>
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>http://localhost:4125/ConsoleApplication1/authorize/</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpiresIn" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://www.box.com</value>
            </setting>
            <setting name="EndPoint_AccessToken" serializeAs="String">
                <value>/api/oauth2/token</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
        </Marketplaats.Winforms.Properties.Settings>
    </userSettings>
</configuration>
